[default]
PersistMessages=Y
LogToFile=Y
LogToDB=N
LogToScreen=N
FileStorePath=data
ConnectionType=acceptor
ResetOnLogon=N
ResetOnLogout=N
ResetOnDisconnect=N
ResetOnError=N
#StartTime=00:00:00
#EndTime=23:59:59
StartTime=00:10:00 US/Eastern

# Time of day that this FIX session becomes deactivated. Time in the format of HH:MM:SS, time is represented in UTC	
EndTime=23:59:59 US/Eastern

HeartBtInt=60
CheckLatency=N
UseDataDictionary=Y
DataDictionary=FIX44.xml
BeginString=FIX.4.4
OnBehalfOfSubID=DESK
OnBehalfOfCompID=BROKER

HeartBtDelay=N
HeartBtDelayCount=3
HeartBtDelayTime=60

ResponseMsgDelay=N
ResponseMsgDelayTime=60

TraceNotAvailable=N
TraceNotAvailableIntervel=120

#JdbcURL=jdbc:sybase:Tds:<hostname>:<prt>/<schema>
#JdbcUser=sa
#JdbcPassword=
#JdbcDriver=com.sybase.jdbc4.jdbc.SybDriver
#JdbcStoreMessagesTableName=TRACE_FIX_MESSAGES
#JdbcStoreSessionsTableName=TRACE_FIX_SESSIONS
#JdbcLogHeartBeats=N
#JdbcLogIncomingTable=TRACE_FIX_MESSAGES_LOG
#JdbcLogOutgoingTable=TRACE_FIX_MESSAGES_LOG
#JdbcLogEventTable=TRACE_FIX_EVENT_LOG

FileLogPath=logs	 
FileLogHeartbeats=Y
FileIncludeMilliseconds=Y
FileIncludeTimeStampForMessages=Y

SLF4JLogEventCategory=quickfixj.event
SLF4JLogIncomingMessageCategory=quickfixj.msg.incoming
SLF4JLogOutgoingMessageCategory=quickfixj.msg.outgoing
SLF4JLogPrependSessionID=Y
SLF4JLogHeartbeats=Y
ScreenLogEvents=N
ScreenLogShowIncoming=N
ScreenLogShowOutgoing=N
ScreenLogShowHeartBeats=N

#WizFixSimlatorVersion=5.0.0

SenderCompID=FNRA


[session]
TargetCompID=JPMS
TargetSubID=44B1
SenderSubID=SP
SocketAcceptPort=39100

