[default]
PersistMessages=Y
LogToFile=Y
LogToDB=N
LogToScreen=N
FileStorePath=data
ConnectionType=acceptor
ResetOnLogon=N
ResetOnLogout=N
ResetOnDisconnect=N
ResetOnError=N
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
CheckLatency=N
UseDataDictionary=N
DataDictionary=
BeginString=FIX.4.4
OnBehalfOfSubID=DESK
OnBehalfOfCompID=BROKER

HeartBtDelay=N

#JdbcURL=jdbc:sybase:Tds:<hostname>:<prt>/<schema>
#JdbcUser=sa
#JdbcPassword=
#JdbcDriver=com.sybase.jdbc4.jdbc.SybDriver
#JdbcStoreMessagesTableName=TRACE_FIX_MESSAGES
#JdbcStoreSessionsTableName=TRACE_FIX_SESSIONS
#JdbcLogHeartBeats=N
#JdbcLogIncomingTable=TRACE_FIX_MESSAGES_LOG
#JdbcLogOutgoingTable=TRACE_FIX_MESSAGES_LOG
#JdbcLogEventTable=TRACE_FIX_EVENT_LOG

FileLogPath=logs	 
FileLogHeartbeats=Y
FileIncludeMilliseconds=Y
FileIncludeTimeStampForMessages=Y

SLF4JLogEventCategory=quickfixj.event
SLF4JLogIncomingMessageCategory=quickfixj.msg.incoming
SLF4JLogOutgoingMessageCategory=quickfixj.msg.outgoing
SLF4JLogPrependSessionID=Y
SLF4JLogHeartbeats=Y
ScreenLogEvents=N
ScreenLogShowIncoming=N
ScreenLogShowOutgoing=N
ScreenLogShowHeartBeats=N

#WizFixSimlatorVersion=5.0.0

SenderCompID=FNRA
TargetCompID=JPMS

[session]
TargetSubID=44B1
SenderSubID=SP
SocketAcceptPort=64034

[session]
TargetSubID=44B2
SenderSubID=CA
SocketAcceptPort=64093

[session]
TargetSubID=44B3
SenderSubID=TS
SocketAcceptPort=64094